{% extends "base.html" %}
{% load static %}

{% block metaTag%}
{% endblock %}

{% block customeCss %}
<link rel="stylesheet" href="{% static 'authentication/css/index.css' %}">
{% endblock %}

{% block title %} EffortLes {% endblock %}

{% block main%}
    <section class="BaseSection" id="BaseSection">
        <div class="BaseDiv" id="BaseDiv">
            <div class="col-12 col-sm-6 col-md-4 p-4 d-flex justify-content-center" id="LeftBox">
                <div class="d-flex flex-column justify-content-start">

                    <h3 class="mt-5 mb-5">EffortLes</h3>
                    <div class="d-flex flex-column px-2 py-4" id="formBox">

                        <!-- <div class="d-flex flex-column">
                            <label for="userIdInp">User Id</label>
                            <input id="userIdInp" type="text">
                        </div>
                        <div class="d-flex flex-column mt-2">
                            <label for="passwordInp">Password</label>
                            <input id="passwordInp" type="password">
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <p id="forgotPasswordButton">forget password</p>
                        </div> -->
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                        
                            <div class="d-flex justify-content-center mt-4">
                                <input type="submit" class="px-4 py-2" id="loginButton" value="Login">
                            </div>
                            <div class="d-flex justify-content-end mt-2">
                                <a href="/authentication/resetpassword">forget password</a>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>  
    </section>
{% endblock %}

{% block customeJs%}
{% endblock %}
        

