{% extends "base.html" %}
{% load static %}

{% block metaTag%}
{% endblock %}

{% block customeCss %}
<link rel="stylesheet" href="{% static 'authentication/css/index.css' %}">
{% endblock %}

{% block title %} EffortLes {% endblock %}

{% block main%}
    <section class="BaseSection" id="BaseSection">
        <div class="BaseDiv" id="BaseDiv">
            <div class="col-12 col-sm-6 col-md-4 p-4 d-flex justify-content-center" id="LeftBox">
                <div class="d-flex flex-column justify-content-start">

                    <h3 class="mt-5 mb-5">Password Changes successfully</h3>
                    
                    </div>
                    
                </div>
            </div>
        </div>  
    </section>
{% endblock %}

{% block customeJs%}
{% endblock %}
        

