$primary-orange: #ff9800;
$primary-blue: #03a9f4;
$primary-red: #ef5350;
$primary-teal-light: #26a69a;
$primary-teal-dark: #004d40;
$primary-white: #FFFFFF;
$secondary-teal-light: #e0f2f1;



$primary-radius : 10px;

.BaseSection{
    height: 100vh;
    width: 100vw;  
}

.BaseDiv{
    height: 100vh;
    width: 100vw;
}
